$input-background: #f6f6f6;
$input-color: #4b5665;
$inactive-link: #cccccc;
$nav-background: #272d4b;
$nav-color: #ffffff;
$header-background: #ffffff;
$main-background: #f3f3f3;
$secondary-main-background: white;
$header-color: #272d4b;
$border-color: #9e9e9e;
$border-items-color: #e0e0e0;