@import '../../../global/global.scss';

.custom-select {
  position: relative;
  font-size: 16px;
  user-select: none;

  .select-display {
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    display: flex;
    align-items: center;

    .select-input {
      border: none;
      padding: 8px 12px;
      flex-grow: 1;
      outline: none;

      &:read-only {
        cursor: pointer;
      }
    }

    .arrow {
      padding: 8px;
      cursor: pointer;
    }
  }

  .select-options {
    position: absolute;
    width: 100%;
    border: 1px solid #ccc;
    z-index: 10;
    background-color: #fff;
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 0 0 4px 4px;
    max-height: 200px;


    li {
      padding: 8px 12px;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:hover {
        background-color: #f0f0f0;
      }
    }

    /* Tooltip text */
    .tooltiptext {
      display: none;
      background-color: #fff;
      border: 1px solid $border-items-color;
      padding: 5px;
      border-radius: 1px;
    
      /* Position the tooltip text - see examples below! */
      position: absolute;
      right: 0px;
      transform: translateX(50%) translateY(calc(50% + 20px));
      z-index: 1;
    }

    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover + .tooltiptext {
      display: block;
    }

    .no-options {
      padding: 8px 12px;
      color: #888;
    }
  }
}