.burger-button{
    display: none;
}

@media (max-width: 650px) {
    .burger-button {
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
        align-self: center;
        justify-content: center;
        align-content: center;
        width: 50px;
    }
}