@import '../../../../global/global.scss';

.stats-wrapper{
    padding: 0px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    ul, ol{
        font-size: 23px;
        font-family: 'Source Sans Pro';
        font-weight: normal;
        margin: 18px;
        padding-left: 15px;
    }
}
@media (max-width: 960px) {
    .stats-wrapper {
        flex-direction: column;
    }
}