@import '../../../../global/global.scss';

.project-table-row-wrapper{
    border-bottom: 1px solid $border-items-color;

    .table-row {
        padding: 10px 0px;

        display: grid;
        grid-template-columns: 150px 1fr 1fr 1fr 1fr;
        font-size: 18px;
        font-family: 'Source Sans Pro';

        border: 1px solid $border-color;
        margin: 20px;
        
        span{
            display: flex;
            align-items: center;
            .name-button{
                height: 100%;
                width: 100%;
                cursor: pointer;
                background-color: transparent;
                border: none;
                display: flex;
                justify-content: start;
                align-items: center;
                font: inherit;
                padding: 0px;
                margin: 0px;
            }
        }

        .status-icon {
            text-align: center;
        }

        .action-button{
            border: none;
            cursor: pointer;
            background-color: transparent;
            display: flex;
        }

        .delete-btn {
            padding: 5px 10px;
            background-color: #f44336;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;

            &:hover {
                background-color: #d32f2f;
            }
        }

        .action-span{
            display: flex;
            gap: 20px;
            align-items: center;
            justify-content: end;
            padding-right: 40px;
            @media (max-width: 1200px) {
                padding-right: 0px;
            }
        }
    }

    @media (max-width: 800px) {
        .table-row {
            display: flex;
            flex-wrap: wrap;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            justify-content: space-around;
            font-size: 12px;
        }
    }
}
