docker==5.0.3
Flask==3.0.2
Flask_Cors==4.0.0
flask_sock==0.7.0
gdown==5.1.0
matplotlib==3.7.1
numpy==1.24.2
opencv_python==4.7.0.72
Pillow==10.3.0
pynvml==11.5.0
python-dotenv==1.0.1
requests==2.25.1
